BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

ColumnLimit: 120

BreakBeforeBraces: Allman

SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpacesInAngles: Never
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpaceAroundPointerQualifiers: Default

PointerAlignment: Left  
ReferenceAlignment: Left

AlwaysBreakTemplateDeclarations: Yes
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakStringLiterals: true

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^".*"'
    Priority: 1
  - Regex:    '^<.*\.h>'
    Priority: 2
  - Regex:    '^<.*>'
    Priority: 3

NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true

Cpp11BracedListStyle: true
Standard: c++17
SortUsingDeclarations: true
RemoveBracesLLVM: false
ReflowComments: true
MaxEmptyLinesToKeep: 1
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock