#include "ptx_types.h"
#include "utils.h"

namespace Emulator {
namespace Ptx {

template <>
registerOperand FromString(const std::string& str) {
    return registerOperand(str);
}

template <>
sprRegisterOperand FromString(const std::string& str) {
    return sprRegisterOperand(str);
}

template <>
addressOperand FromString(const std::string& str) {
    return addressOperand(str);
}

template <>
symbolOperand FromString(const std::string& str) {
    return symbolOperand(str);
}

template<>
uint32_t FromString(const std::string& str) {
    return std::stoul(str.c_str());
}

template<>
uint64_t FromString(const std::string& str) {
    return std::stoull(str.c_str());
}

template<>
bool FromString(const std::string& str) {
    return static_cast<bool>(str.size());
}

{% for i_name, i_param in isa.instructions.items() %}
{% if i_param.params %}
{% for p_name, p_param in i_param.params.items() %}
{% if p_param.arg_type == "qualifier" %}

{% set name = funcs.get_type_name(i_name, p_name, p_param) %}


static std::unordered_map<std::string, {{ name }}> StrTo{{ name }} {
    { "", {{ name }}::UNDEFINED },
{% for item in p_param["values"] %}    { "{{ item }}", {{ name }}::{{ funcs.process_pname(item) }} },
{% endfor %}
};

template<>
{{ name }} FromString<{{ name }}>(const std::string& str) {
    return StrTo{{ name }}[str];
}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}


{% for p_name, p_param in isa.types.items() %}

{% set name = p_name %}

static std::unordered_map<std::string, {{ name }}> StrTo{{ name }} {
    { "", {{ name }}::UNDEFINED },
{% for item in p_param["values"] %}    { "{{ item }}", {{ name }}::{{ funcs.process_pname(item) }} },
{% endfor %}
};

template<>
{{ name }} FromString<{{ name }}>(const std::string& str) {
    return StrTo{{ name }}[str];
}

{% endfor %}

} // Ptx
} // Emulator
