#include "instructions.h"
#include "constant.h"
#include "utils.h"

namespace Emulator {
namespace Ptx {

{% for i_name, instr in instructions.items() %}
{% if instr.regexp_template %}

{% if instr.exec_type == "thread" %}
void {{ i_name }}Instruction::Execute( std::shared_ptr<WarpContext>& wc ) {
    std::cout<<"Execute instruction {{ i_name }}"<<std::endl;
    for (uint32_t lid = 0; lid < Emulator::WARP_SIZE; lid++) {
        bool prd = ((wc->execution_mask >> lid) & 1);
        if (prd) {
            ExecuteThread(lid, wc);
        }
    }
    wc->pc++;
}
{% endif %}
{% if instr.exec_type == "warp" %}
void {{ i_name }}Instruction::Execute( std::shared_ptr<WarpContext>& wc ) {
    std::cout<<"Execute instruction {{ i_name }}"<<std::endl;
    ExecuteWarp(wc);
    wc->pc++;
}
{% endif %}
{% if instr.exec_type == "branch" %}
void {{ i_name }}Instruction::Execute( std::shared_ptr<WarpContext>& wc ) {
    std::cout<<"Execute instruction {{ i_name }}"<<std::endl;
    ExecuteBranch(wc);
}
{% endif %}

void {{ i_name }}Instruction::Dump() {
    std::cout<<"\t\t"<<"{{ i_name }}"<<"\n";
}

std::shared_ptr<{{ i_name }}Instruction> {{ i_name }}Instruction::Make(const std::string& line) {
    constexpr std::string_view pattern = "{{ funcs.make_regexp(instr)|replace('\\', '\\\\') }}";
    static std::regex re(pattern.data(), std::regex::ECMAScript | std::regex::optimize);
    std::smatch match;
    auto i_ = std::make_shared<{{ i_name }}Instruction>();
    if (std::regex_match(line, match, re)) {
        {% for name, type in instr.params.items() %}
            if (match[{{ loop.index0 + 1 }}].matched) i_->{{ name }}_ = FromString<{{ funcs.get_type_name(i_name, name, type) }}>(match[{{ loop.index0 + 1 }}].str());
        {% endfor %}
    } else {
        throw std::runtime_error("Instruction {{ i_name }} is not mutched. [" + line + "]");
    }
    return i_;
}

{% endif %}
{% endfor %}

std::shared_ptr<Instruction> makeInstruction(const std::string& name, const std::string& line) {
    {% for i_name, instr in instructions.items() %}
    {% if instr.regexp_template %}
    {% if loop.index0 > 0 %}else {% endif %}if (name == "{{ i_name }}") {
        return {{ i_name }}Instruction::Make(line);
    }
    {% endif %}
    {% endfor %}
    throw std::runtime_error("Undefined instruction [" + line + "]" );
}

} // Ptx
} // Emulator
