#pragma once

#include "utils.h"

#include <unordered_map>
#include <string>
#include <vector>
#include <cstdint>
#include <variant>


namespace Emulator {
namespace Ptx {

{% for i_name, i_param in isa.instructions.items() %}
{% if i_param.params %}
{% for p_name, p_param in i_param.params.items() %}
{% if p_param.arg_type == "qualifier" %}
{% set name = funcs.get_type_name(i_name, p_name, p_param) %}


enum class {{ name }} {
    UNDEFINED,
{% for item in p_param["values"] %}    {{ funcs.process_pname(item) }},
{% endfor %}
    COUNT
};

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% for p_name, p_param in isa.types.items() %}
{% set name = p_name %}


enum class {{ name }} {
    UNDEFINED,
{% for item in p_param["values"] %}    {{ funcs.process_pname(item) }},
{% endfor %}
    COUNT
};
{% endfor %}

class symbolOperand : public std::string {
public:
    symbolOperand() = default;
    symbolOperand(const std::string& str) : std::string(str) {}
};

using immediateOperand = int64_t;

class registerOperand {
public:
    registerType type = registerType::UNDEFINED;
    uint32_t reg_id = 0;
};

class sprRegisterOperand {
public:
    sprType type = sprType::UNDEFINED;
};

class addressOperand {
public:
    registerOperand reg = registerOperand();
    symbolOperand symbol = symbolOperand();
    immediateOperand imm = 0;
};

enum class FuncType : uint8_t
{
    Undefined,
    Entry,
    Func
};

enum class FuncAttr : uint8_t
{
    Visible
};

struct FunctionParameter {
    std::string name;
    Ptx::dataType type;
    uint8_t id;
};

} // Ptx
} // Emulator
